/*
 *  Codetrotters Intro to Web Development Fall 2016
 *  CSS File Final Project
 *  Arturo Santiago-Rivera
 */

body {
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

#myHeader #navbar-h {
    margin: 0;
    border: 0;
    border-radius: 0;
    background: #3f51b5;
    box-shadow: 0 2px 5px grey;
}

#myHeader .navbar-brand {
    color: rgb(255, 129, 34);
}

#myHeader .navbar-brand span {
    color: #c5cae9;
    font-size: 12px;
}

#myHeader .nav a {
    padding: 15px 20px;
    color: #fff;
    font-size: 15px;
}

#myHeader .navbar-nav a:hover {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0;
    padding-bottom: 2px;
    padding-left: 0;
    border-bottom: 3px solid #c5cae9;
    color: #c5cae9;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

#myHeader .navbar-nav a:focus {
    background-color: #c5cae9;
    color: #3f51b5;
}

#myHeader .navbar-toggle .icon-bar {
    background-color: #fff;
}

#myHeader .navbar-toggle:hover,
#myHeader .navbar-toggle:focus {
    background-color: #c5cae9;
}

#myHeader .row,
#myContent .row {
    margin-right: -10px;
    margin-left: -10px;
}

#myHeader .carousel {
    margin-top: 16px;
}

#myHeader .carousel-caption {
    margin: 0;
    height: 380px;
    text-align: center;
    text-shadow: 7px 5px 10px rgba(0, 0, 0, .6);
    font-weight: 600;
    font-size: 60px;
}

#myHeader .carousel-caption a {
    color: #fff;
    text-decoration: none;
}

#myHeader .carousel-caption a:hover {
    color: #cfd8dc;
}

#myHeader .carousel-caption p {
    display: flex;
    margin-bottom: 0;
    height: 225px;
    text-shadow: 0 0 7px #222;
    font-style: italic;
    font-size: 24px;
    align-items: center;
}

#myHeader .carousel-indicators li {
    width: 15px;
    height: 15px;
}

#myHeader .item img {
    width: 100%;
    height: 55rem;
    opacity: .45;
    position: relative;
    background-size: cover;
}

#myHeader #welcome-bar {
    margin-top: 16px;
    margin-bottom: 11px;
    padding-right: 0;
    padding-left: 0;
}

#myHeader #welcome-bar a {
    color: #fff;
    text-decoration: none;
}

#myHeader #welcome-bar a:hover {
    color: #e1bee7;
}

#myHeader #welcome-bar a:focus {
    color: #e1bee7;
}

#myHeader #welcome-bar h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 6px 0 2px 20px;
    border-color: #777;
    border-radius: 10px;
    background-color: #9c27b0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
    box-shadow: 1px 1px 3px #222222;
}

#myHeader #welcome .well {
    margin-bottom: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #f3e5f5;
    color: #333;
    font-size: 1.25em;
    border-left: 8px solid #9c27b0;
    border-right: 8px solid #9c27b0;
    border-bottom: 8px solid #9c27b0;
    transition: all 1s;
}

#myHeader #welcome img {
    padding: 5px 10px 0 0;
    width: 16rem;
    text-align: center;
}

#myHeader #welcome p {
    margin-bottom: 0;
    padding-right: 5px;
    padding-left: 10px;
    text-align: justify;
}

#myHeader #welcome span {
    color: #b71c1c;
    font-weight: bolder;
}

#myHeader #welcome span:hover {
    color: #ba68c8;
}

#myContent .section-panel {
    border-color: #777;
    text-align: center;
    font-weight: 500;
    box-shadow: 2px 0px 5px #222222;
}

#myContent h1 {
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 40px;
    text-align: left;
    font-size: 45px;
}

#myContent h2 {
    margin-top: 15px;
    margin-bottom: 40px;
    padding-left: 40px;
    text-align: left;
}

#myContent h3 {
    margin-top: 0;
    margin-bottom: 25px;
    padding-right: 40px;
    text-align: right;
    font-size: 20px;
}

#myContent .section-panel a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}

#myContent .section-panel a.note {
    color: #0097a7;
    text-shadow: none;
}

#myContent #section-1 a.note:hover,
#myContent #section-2 a.note:hover,
#myContent #section-3 a.note:hover,
#myContent #section-4 a.note:hover {
    color: #b71c1c;
}

#myContent #section-1 {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    border-top-left-radius: 25px;
    background-color: #e91e63;
}

#myContent #section-1 a:hover {
    color: #f8bbd0;
    text-decoration: none;
}

#myContent #section-1 a:focus {
    color: #f8bbd0;
}

#myContent #section-2 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    border-top-right-radius: 25px;
    background-color: #2196f3;
}

#myContent #section-2 a:hover {
    color: #bbdefb;
    text-decoration: none;
}

#myContent #section-2 a:focus {
    color: #bbdefb;
}

#myContent #section-3 {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    border-bottom-left-radius: 25px;
    background-color: #ff5722;
}

#myContent #section-3 a:hover {
    color: #ffccbc;
    text-decoration: none;
}

#myContent #section-3 a:focus {
    color: #ffccbc;
}

#myContent #section-4 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    border-bottom-right-radius: 25px;
    background-color: #009688;
}

#myContent #section-4 a:hover {
    color: #b2dfdb;
    text-decoration: none;
}

#myContent #section-4 a:focus {
    color: #b2dfdb;
}

#myContent .collapse-left {
    padding: 0;
}

#myContent .collapse-right {
    float: right;
    padding: 0;
}

#myContent .collapse {
    padding: 0;
}

#myContent .well {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 15px;
    border: 15px solid #ddd;
    border-radius: 25px;
    color: #333;
    text-align: justify;
    font-size: 1.1em;
    transition: all 0.5s;
}

#myContent #collapse-1 .well {
    border-color: #e91e63;
    background: #fce4ec;
}

#myContent .panel-group {
    margin: 0;
}

#myContent .panel-heading {
    background: #ec407a;
}

#myContent .panel-body {
    background: #f8bbd0;
}

#myContent .panel-body p {
    margin: 0;
    color: #333;
    font-size: 1.5rem;
}

#myContent #collapse-1 video {
    padding: 1px 10px 0 0;
    width: 15rem;
    border-radius: 15px;
}

#myContent #collapse-2 .well {
    border-color: #2196f3;
    background: #e3f2fd;
}

#myContent #collapse-2 img {
    float: right;
    padding: 1px 0 0 10px;
    width: 13em;
    border-radius: 25px;
}

#myContent #collapse-3 .well {
    border-color: #ff5722;
    background: #fbe9e7;
}

#myContent #collapse-3 img {
    float: right;
    padding: 1px 0 0 10px;
    width: 13em;
    border-radius: 25px;
}

#myContent #collapse-4 .well {
    border-color: #009688;
    background: #e0f2f1;
}

#myContent #collapse-4 img {
    padding: 1px 10px 0 0;
    width: 12em;
    border-radius: 25px;
}

#myContent .back_to_top {
    position: fixed;
    right: 15px;
    bottom: 15em;
    display: none;
    padding: .25em;
    border-radius: 25px;
    background-color: #d9534f;
    box-shadow: 0 4px 5px darkslategrey;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

#myContent .back_to_top:hover {
    background-color: #3c763d;
    color: yellow;
}

#myFooter {
    margin-top: 5px;
    background-color: #37474f;
    color: #fff;
}

#myFooter .row {
    margin-bottom: 10px;
}

#myFooter .info {
    color: #afb0b1;
    text-align: justify;
    font-size: 10px;
    line-height: 1.75;
}

#myFooter ul {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.7;
}

#myFooter h5 {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#myFooter .logo {
    margin-top: 0;
}

#myFooter .second-bar .logo a {
    float: left;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 68px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    color: #fff;
}

#myFooter .second-bar {
    background-color: #263238;
    text-align: center;
}

#myFooter .second-bar a {
    padding: 10px;
    color: #9fa3a9;
    font-size: 22px;
    line-height: 68px;
    transition: .2s;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .pinterest:hover {
    color: red;
}

@media screen and (max-width: 767px) {
    #myFooter
    {
        text-align: center;
    }
    #myFooter .info
    {
        text-align: center;
    }
}

#myFooter h2 {
    margin: 0;
}

#myFooter .second-bar img {
    width: 60px;
}

#myModal {
    color: #fff;
}

#myModal a {
    color: #fff;
}

#myModal .modal-header {
    background-color: #01579b;
    text-align: left;
}

#myModal .panel-heading {
    background: #039be5;
    text-align: left;
}

#myModal .modal-body {
    background-color: #e1f5fe;
    color: #333;
}

#myModal .modal-body p {
    text-align: justify;
}

#myModal .modal-body p span {
    color: #03a9f4;
}

#myModal .modal-body p span:hover {
    color: #f44336;
}

#myModal .panel-body {
    background-color: #81d4fa;
    text-align: justify;
}

#myModal .panel-body p {
    margin-bottom: 0;
}

#myModal .panel-body ul {
    padding-left: 15px;
    list-style-type: disc;
}

#myModal #collapseEleven img {
    margin: 0 8px 0 0;
    padding: 0;
    width: 13em;
}

#myModal #collapseTwelve img {
    margin: 2px 10px 0 0;
    padding: 0;
    width: 12rem;
}

#myModal .modal-footer {
    background-color: #01579b;
}

#myModalVideo .modal-header {
    background-color: #f44336;
    text-align: left;
}

#myModalVideo .modal-footer {
    background-color: #f44336;
}

#myModalVideo .modal-body {
    background-color: #ffcdd2;
    color: #333;
    text-align: center;
}

#myModalForm .modal-header {
    background-color: #795548;
    text-align: left;
}

#myModalForm .modal-body {
    padding: 0;
}

#myModalForm .row {
    margin: 0;
    background-color: #efebe9;
}

#myModalForm .side-img {
    padding: 0;
}

#myModalForm img {
    margin: 0;
    width: 100%;
    vertical-align: middle;
}

#myModalForm .form {
    margin-top: 10px;
    color: #333;
    text-align: right;
    font-size: .95em;
}

#myModalForm .form p {
    margin-bottom: 5px;
    text-align: left;
}

#myModalForm .form input,
#myModalForm .form textarea {
    margin-bottom: 5px;
    width: 100%;
    border: 0;
    background-color: #efebe9;
    font-style: italic;
}

#myModalForm .form button {
    border: 1px solid #222;
    background: #8d6e63;
    color: #fff;
    text-shadow: none;
}

#myModalForm .modal-footer {
    background-color: #795548;
    text-align: right;;
}

/* Custom Tooltip */
a[mytitle]:hover:after {
    position: absolute;
    top: 100%;
    left: 10px;
    margin-top: 5px;
    padding: 0 0 0 20px;
    border-radius: 2px;
    background: url(../images/favicon.ico) no-repeat;
    background-color: #000;
    box-shadow: 2px 0 4px #222;
    color: #fff;
    content: attr(mytitle);
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 9px;
    transition: all .5s;
}

a[mytitle2]:hover:after {
    position: absolute;
    left: 30%;
    margin-top: 3px;
    padding: 0 0 0 20px;
    border-radius: 2px;
    background: url(../images/favicon.ico) no-repeat;
    background-color: #000;
    box-shadow: 2px 0 4px #222;
    color: #fff;
    content: attr(mytitle2);
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 9px;
    transition: all .5s;
}
